/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Montagu+Slab");
@import url("https://fonts.googleapis.com/css?family=DM+Sans");

/* Reset and general styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montagu Slab', sans-serif;
    font-weight: 200;
}

b {
    font-weight: 700;
}

/* Header styles */
.header {
    position: relative;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-content {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
}

.header-content h1 {
    background: linear-gradient(to right, #ff8c00, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.header-buttons {
    position: absolute;
    top: 1em;
    right: 20px;
}

.header-buttons a {
    margin-left: 10px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #333;
    color: #333;
    border-radius: 5px;
}

.header-buttons a:hover {
    background-color: #333;
    color: #fff;
}

/* Top Navigation Bar styles */
.top-nav {
    background-color: #DBEFBC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px #251605 solid;
}

.nav-title {
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
}

.header-links {
    text-align: center;
    font-size: 1em;
    justify-content: center;
}

.header-links a {
    text-decoration: none;
    color: black;
}

.header-links a:hover {
    text-decoration: underline;
}

.header-links ul {
    list-style-type: none;
    display: flex;
    margin-left: 20em;
}

.header-links li {
    margin-right: 15em;
}

/* Main Section styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    border-top: 2px #FF6600 solid; /* Adjusted border color */
    background-color: #E8F7EE; /* Background color */
    color: #3C362A; /* Text color */
}

/* Grid System */
.container-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
    background-color: #DBEFBC;
}

/* Menu Section styles */
.menu {
    grid-column: 1;
    grid-row: span 12;
    float: left;
    text-align: center;
    background-color: #212D40;
    background-repeat: repeat;
    width: 20%;
    border-radius: 8px;
}

/* Panel Left styles */
.panel-left {
    display: flex;
    flex-direction: column;
    background-color: #C4B7CB; /* Adjusted color to match the scheme */
    width: 90%;
    border-radius: 8px;
    margin-right: 10px;
}

/* Blog List Section styles */
.blog-list {
    text-align: center;
    width: 75%;
    display: grid;
    grid-column: 2 / 3;
    gap: 20px;
    padding: 20px;
    border: 1px solid #C9D6EA; /* Adjusted border color */
    border-radius: 5px;
    background-color: #C4B7CB; /* Adjusted background color */
    color: #663F46; /* Adjusted text color */
    margin-top: 15px;
}

/* Adjusting the width of each individual blog post */
.blog-post {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #eee;
    background-color: #364156;
    color: #fff;
}

/* Container for each blog post */
.blog-post-container {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #eee;
    background-color: #364156;
    color: #fff;
}

/* Blog post title */
.blog-post-container h1 {
    margin-bottom: 5px;
    color: #fff;
}

/* Blog post author */
.blog-post-container .blog-post-author {
    font-style: italic;
    margin-bottom: 10px;
    color: #aaa; /* Adjusted author color */
}

/* Blog post date */
.blog-post-container .blog-post-date {
    font-size: 14px;
    color: #aaa; /* Adjusted date color */
}

/* Blog post body */
.blog-post-container .blog-post-body {
    color: #fff;
    /* Styles for the body content */
}

/* Comments section */
.blog-post-container .blog-comments-section {
    /* Styles for the comments section */
    color: #fff;
}

/* Styles for buttons */
.blog-post-container .view-full-posts button {
    /* Styles for the "View Post" button */
    color: #fff;
}

/* View Full Posts link */
.view-full-posts {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.view-full-posts a {
    text-decoration: none;
    color: #fff;
    background-color: #ff6600;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-full-posts a:hover {
    background-color: #e55e00;
}

.profile-pic-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #11151C;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
